@page
@model WebApp.Pages.Home

<h1>Hello, @Model.UserName!</h1>
<h2>Create a New Game</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfigId" class="control-label">Choose configuration:</label>
                <select asp-for="ConfigId" class ="form-select" asp-items="Model.ConfigSelectList" name="Config"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameMode" class="control-label">Choose game mode:</label>
                <select asp-for="GameMode" class="form-select" asp-items="Model.GameModes" name="GameMode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>